/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

@media only screen and (min-width: 768px) {
    .mobile{
        display: none;
    }

}

@media only screen and (max-width: 767px){
    .desktop{
        display: none;
    }

}

body{
    font-family: "Arial", sans-serif;
    background-color: #171717;
}
a{
    text-decoration: none;
}

header{
    height: 125px;
    padding-left: 34px;
    padding-right: 44px;
}

.content{
    width: 880px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.nav-big{
    float: right;
    line-height: 124px;
}

.nav-big a {
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    margin-left: 30px;
}

.nav-big a, .nav-big a:visited{
    color: black;
}

.nav-big a:hover, .footer-nav > a:hover {
    color: #7c0f4d;
}

.categories-all > a:hover{
    color: #ae629f;
}

.nav-big a, .footer-nav > a, .categories-all > a{
    transition: 0.3s;
}

.nav-big a{
    vertical-align: middle;
    text-transform: uppercase;
    color: black;
}

.logo-sm{
    float: left;
    height: 125px;
    text-transform: uppercase;
    font-weight: 600;
}

.logo-sm-cont{
    display: block;
    margin-top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
    color: black;
}

.logo-sm .line1{
    font-size: 19px;
    letter-spacing: 2.8px;
    line-height: 29px;
}

.logo-sm .line2{
    font-size: 39px;
}

.logo-big{
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    position: absolute;
    height: 400px;
    text-transform: uppercase;
    font-weight: 600;
}

.logo-big-cont{
    margin-top: -10px;
    color: white;
}

.logo-big .line1{
    font-size: 44px;
    letter-spacing: 28px;
    line-height: 120px;
}

.logo-big .line2{
    font-size: 122px;
    letter-spacing: 15px;
}

.header nav ul{
    clear: both;
    list-style: none;
    display: inline-block;
    vertical-align: top;
}

.header nav ul li{
    clear: both;
    list-style: none;
    display: inline-block;
    vertical-align: top;
}

.title{
    display: inline-block;
    font-size: 70px;
    text-align: center;
    margin: 200px;
}

.main-view {
    position: relative;
    background-color: black;
    height: 580px;
    width: 100%;
    overflow: hidden;
}

.main-view img{
    display: inline-block;
    width: 100%;
    height: auto;
    opacity: 0.8;
    position: absolute;
}

.categories{
    text-align: center;
    background-color: black;
    color: white;
}

.categories-all {
    text-align: right;
}

.categories-all > a {
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
    margin-right: 14px;
    line-height: 44px;
}

.category-links{
    padding-top: 14px;
    padding-bottom: 100px;
}

.article{
    position: relative;
    display: inline-block;
    width: 275px;
    height: 275px;
    overflow: hidden;
    margin-left: 7px;
    margin-right: 7px;
}

.article img,
.article h2 {
    left: 0;
    position: absolute;
}

.article img{
    width: auto;
    height: 275px;
    left: 50%;
    transform: translateX(-50%) scale(1, 1);
    opacity: 0.7;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}

.article h2{
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
    white-space: nowrap;
    margin-top: 5px;
}

.article p{
    top: 0px;
    position: absolute;
    width: 100%;
    height: 34px;
    background-color: #7d1f6a;
    transform: translateY(-100%);
    transition: transform 0.5s cubic-bezier(0,0.4,0.1,1);
}

.article:hover > p {
    top: 0;
    transform: translateY(0%);
}

.article:hover > img{
    opacity: 1;
    transform: translateX(-50%) scale(1.1, 1.1);
}

footer{
    height: 202px;
    text-align: center;
}

.footer-nav{
    padding-top: 80px;
    text-align: center;
}

.footer-nav > a{
    color: black;
    font-size: 14.5px;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 30px;
    margin-left: 30px;
}

.copyright{
    margin-top: 70px;
    font-size: 14px;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 31%;
    margin-left: 6.5px;
    margin-top: 5px;
}



div.gallery {
    margin-top: 5px;
    border: 6px solid white;
}

div.gallery:hover {
    background-color: #7d1f6a;;
}

div.gallery img {
    width: 100%;
    height: 200px;
}

div.desc {
    padding: 15px;
    text-align: center;
    height: 350px;
}

.gallery h1, .gallery p {
    color: white;
}

.gallery h1 {
    font-size: 25px;
    font-weight: bold;

}

.gallery p {
    margin-top: 10px;
}



@media only screen and (max-width: 750px){
    .responsive {
        width: 47.99999%;
        margin: 6px 0;

    }
}

@media only screen and (max-width: 600px){
    .responsive {
        width: 100%;
        margin-left: -6px;

    }

    div.desc {
        height: 50%;
    }
}